*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
.DS_Store
.tmp
build
global.config.js
bower_components
client/dist
ngapp/config/bundle.js
html5/build
lib-cov
local.config.js
logs
node_modules
npm-debug.log
pids
public/bundle.js
results
server/datasources.local.js
db.json
