<!doctype html>
<html lang="en">
<% include header.ejs %>
<body ng-app="app">
<h1>Welcome to the <%= title %></h1>
<% if(me) { %>
  <script type="text/javascript">
    var ME = <%= JSON.stringify(me) %>;
    var INITIAL_DATA = ME.initialData;
  </script>
<% } else { %>
  <a ng-href="/login">Login</a>
  <a ng-href="/register">Register</a>
<% } %>
<div ng-view></div>
<% include footer.ejs %>
</body>
</html>
