<h1>Local Change List</h1>
<p>
A list of all changes made to models in local storage.
</p>
<table>
  <tr>
    <th>Model ID</th>
    <th>Type</th>
    <th>Checkpoint</th>
    <th>Revision</th>
    <th>Prev Revision</th>
  </tr>
  <tr ng-repeat="change in changes">
    <td>{{change.modelId}}</td>
    <td>{{change.type()}}</td>
    <td>{{change.checkpoint}}</td>
    <td>{{change.rev}}</td>
    <td>{{change.prev}}</td>
  </tr>
</table>

<div ng-if="diff.deltas.length">
<h1>Deltas</h1>
<p>
Below are models that differ on the server.
</p>
<table>
  <tr>
    <th>Model ID</th>
    <th>Revision</th>
    <th>Prev Revision</th>
  </tr>
  <tr ng-repeat="delta in diff.deltas">
    <td>{{delta.modelId}}</td>
    <td>{{delta.rev}}</td>
    <td>{{delta.prev}}</td>
  </tr>
</table>
</div>
<h1 ng-if="diff.deltas.length === 0">No Deltas</h1>

<h1>Local Storage Data</h1>
<a href="#" ng-click="clearLocalStorage()">Clear Local Storage</a>
<table>
  <tr>
    <th>Todo ID</th>
    <th>Title</th>
    <th>Completed</th>
  </tr>
  <tr ng-repeat="todo in todos">
    <td>{{todo.getId()}}</td>
    <td>{{todo.title}}</td>
    <td>{{todo.completed}}</td>
  </tr>
</table>